<div class="row-fluid btn-group" style="text-align: center;padding-top: 0px;" data-bind="visible: true">
<button class="btn" id="neopixel_navbar_lightOn" href="#" data-bind="click: lightOn, css: btnclass">On</button>
<button class="btn" id="neopixel_navbar_lightOff" href="#" data-bind="click: lightOff, css: btnclass">Off</button>
</div>
